/* SETUP */

:root {
  --color1: #032430;
  --color2: #0d1553;
  --color3: #31a0fe;
  --color4: #89e5f6;
  --color5: #d6daff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ARTICLE */

article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
  height: auto;
  min-height: 75vh;
  background-color: var(--color5);
  padding: 50px;
  position: relative;
}

article * {
  color: var(--color1);
  text-decoration: none;
}

.post-title {
  font-size: 25pt;
}

.post-info {
  position: absolute;
  right: 50px;
  margin-top: 15px;
  font-size: 15pt;
}

.post-info .author::after,
.post-info .date::after {
  content: ",";
}

.tag-container {
  position: relative;;
  margin-top: 15px;
  font-size: 15pt;
  width: auto;
  padding: 5px;
  text-align: center;
  background-color: var(--color4);
}


.tag-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tag {
  font-style: italic;
  display: inline-block;
}

.tag::before {
  content: "#";
}

.tag-text {
  margin-bottom: 10px;
}

.tag span {
  margin: 0 15px;
}

article a:hover {
  font-weight: bold;
}

.tag-div {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color3);
  display: inline-flex
}

.tag-div:last-child {
  border: none;
}

.post-content {
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.post-content::first-letter {
  font-size: 20pt;
  font-weight: bold;
}

.post-content p {
  text-indent: 25px;
  margin: 20px 0;
}

.add-tag {
  position: absolute;
  right: 15px;
  top: 5px;
}

.add-tag input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid var(--color3);
  height: 25px;
  width: 150px;
  margin-left: 30px;
  outline: none;
  font-size: 12pt;
  text-indent: 15px;
}

.add-tag button {
  margin-top: 1px;
  padding: 2px 15px;
  background-color: var(--color3);
  margin-left: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
}
