<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/setup&nav.css" />
    <link rel="stylesheet" href="/css/all-tags.css" />
    <title>All Tags</title>
  </head>
  <body>
    <header>
      <section>
        <div class="logo">
          <span class="logo-text">
            <p class="logo-text-word">Most</p>
            <p class="logo-text-word">Valuable</p>
            <p class="logo-text-word">Coders</p>
          </span>
          <div class="logo-pic-div">
            <a href="../">
              <img
                class="logo-pic"
                src="/images/mvc.png"
                title="MostValuableCoders"
                alt="MVC Logo"
              />
            </a>
          </div>
        </div>
      </section>
      <nav class="nav-menu">
        <a href="../">Home</a>
        <a href="../genres/">Genres</a>
        <a href="../posts/">All Posts </a>
        <a href="../posts/new-post/">New Post</a>
        <div class="bottom-bar"></div>
      </nav>
    </header>

    <main>
      <article>
      </article>
      <aside>
          <p class="title">All</p><p class="title">Tags</p>
          <hr />
         <ul class="tags-list">
           <li class="post-name" th:each="tag: ${tags}">
             <a th:href="@{'/tags/'+${tag.name}}" th:text="${tag.name}">
               TagName
             </a>
           </li>
         </ul>
      </aside>
    </main>

    <footer>
      <div class="footer-text">&copy; 2020 MVC</div>
    </footer>
  </body>
</html>