<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/setup&nav.css" />
    <link rel="stylesheet" href="/css/genres.css" />
    <title>MostValuableCoders</title>
  </head>
  <body>
    <header>
      <section>
        <div class="logo">
          <span class="logo-text">
            <p class="logo-text-word">Most</p>
            <p class="logo-text-word">Valuable</p>
            <p class="logo-text-word">Coders</p>
          </span>
          <div class="logo-pic-div">
            <a href="./">
              <img
                class="logo-pic"
                src="/images/mvc.png"
                title="MostValuableCoders"
                alt="MVC Logo"
              />
            </a>
          </div>
        </div>
      </section>
      <nav class="nav-menu">
        <a href="./">Home</a>
        <a href="./all-posts-template.html">All Posts </a>
        <a href="./all-tags-template.html">All Tags</a>
        <div class="bottom-bar"></div>
      </nav>
    </header>

    <main>
      <article>
        <section class="genre-container">
          <div class="genre-box">
            <div class="genre-title">Genres</div>
            <hr />
            <a th:each="genre: ${genres}" href="@{'genres'+${genre.name}"
               class="genre" th:text="${genre.name}">Genre Name</a>
          </div>
        </section>

        <img src="../static/images/banner.jpg" alt="" />
      </article>
    </main>

    <footer>
      <div class="footer-text">&copy; 2020 MVC</div>
    </footer>
  </body>
</html>