<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/setup&nav.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <title>MostValuableCoders</title>
  </head>
  <body>
    <header>
      <section>
        <div class="logo">
          <span class="logo-text">
            <p class="logo-text-word">Most</p>
            <p class="logo-text-word">Valuable</p>
            <p class="logo-text-word">Coders</p>
          </span>
          <div class="logo-pic-div">
            <a href="../">
              <img
                class="logo-pic"
                src="/images/mvc.png"
                title="MostValuableCoders"
                alt="MVC Logo"
              />
            </a>
          </div>
        </div>
      </section>
      <nav class="nav-menu">
        <a href="../genres/">Genres</a>
        <a href="../posts/">All Posts </a>
        <a href="../tags/">All Tags</a>
        <a href="../posts/new-post/">New Post</a>
        <div class="bottom-bar"></div>
      </nav>
    </header>

    <main>
      <article>
        <div class="post-title" th:text="${postToDisplay.title}">Post Title</div>
        <div class="post-info">
          <a th:href="@{'../authors/'+${postToDisplay.author.name}}" class="author" th:text="${postToDisplay.author.name}">Author</a>
          <span class="date" th:text="${postToDisplay.publishDate}">Date</span>
          <a th:href="@{'../genres/'+${postToDisplay.genre.name}}" class="genre" th:text="${postToDisplay.genre.name}">Genre</a>
        </div>
        <div class="tag-container">
          <div class="tag-text">Tags:</div>
          <div class="tag-list">
            <div class="tag-div" th:each="tag: ${postToDisplay.hashTags}">
          <a href="@{'/tags/' + ${tag.name}}"
          class="tag" th:text="${tag.name}">Tag1</a>
          </div>
        </div>
          <div class="add-tag">
            <form action="/tags/add" method="POST">
              <input name="tag" type="text" autocomplete="off" placeholder="Tag" required />
              <input name="post" type="hidden" th:value="${postToDisplay.title}" required />
              <button>ADD</button>
            </form>
          </div>
        </div>
        <section class="post-content" th:text="${postToDisplay.body}">
        </section>
      </article>
    </main>

    <footer>
      <div class="footer-text">&copy; 2020 MVC</div>
    </footer>
  </body>
</html>